/* Az egész appra érvényes stylesheet */
h1 {
    color: rgb(23, 26, 201);
    font-family: Arial, Helvetica, sans-serif; /*több: az elsővel kezdi, ha nem támogatja a böngésző, akkor veszi a következőt.*/
    font-size: 250%;
  }
  h2, h3 {
    color: rgb(1, 9, 80);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[type="text"], button {
    color: rgb(1, 2, 24);
    font-family: Cambria, Georgia;
  }
  /* mindenhol máshol */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }